* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/031/624/617/small/a-green-wall-with-a-white-background-ai-generated-photo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    font-family:Georgia, 'Times New Roman', Times, serif
    
}
nav{
    text-align: center;
    height: 10vh;
    background-color: aqua;
    padding: 20px;
    position: sticky;
}

.Container {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    /* background: rgb(127, 164, 84); */

    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/031/624/617/small/a-green-wall-with-a-white-background-ai-generated-photo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out;
}

.container1 {
    background-color: aliceblue;
}

button {
    margin-top: 10px;
}
input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(247, 127, 127);
}
input:focus {
    border-color: rgb(79, 172, 254);
    outline: none;
    box-shadow: 0 0 8px rgba(79, 172, 254, 0.6);
    transform: scale(1.05);
} 
button {
    padding: 10px;
    cursor: pointer;
    /* background: rgb(59, 232, 238);
    background-color: rgb(125, 190, 248); */
    color: rgb(57, 40, 240);
    /* border: none; */
   border: 1px solid rgb(105, 125, 237);
    border-radius:100%;

}
button:hover {
    /* background: rgb(42, 200, 206); */
    transform: scale(1.05);
}
#date, #day, #time {
    color: rgb(109, 6, 6);
    padding: 5px;
    
}
#day {
    margin-bottom: 10px;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
@keyframes fadeIn {
    from {opacity: 0; transform: scale(0.9);}
    to {opacity: 1; transform: scale(1);}
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: aliceblue;
    background-color: rgb(88, 81, 81);
    text-align: center;

}